body {
  background-color: #554994;
  text-align: center;
  font-family: "Silkscreen", cursive;
  color: #f675a8;
}
img {
  display: inline;
}
p {
  display: inline-block;
  line-height: 30px;
}
h1 {
  display: inline-block;
  line-height: 30px;
}
h2 {
  display: inline-block;
  line-height: 30px;
  margin: 10px;
}
.cert {
  display: block;
}
.top {
  position: relative;
}
.bar {
  position: absolute;
  max-height: 1.5rem;
  height: 1.5rem;
  max-width: 1.5rem;
  width: 1.5rem;
  left: 1%;
  font-size: 0.5vw;
}
.bar2 {
  position: absolute;
  max-height: 1.5rem;
  height: 1.5rem;
  max-width: 1.5rem;
  width: 1.5rem;
  right: 1%;
}
.main {
  position: relative;
}
.mid {
  position: relative;
  height: 80%;
  width: 20%;
  border-radius: 100%;
  padding: auto;
  margin: auto;
}
.left {
  position: absolute;
  size-adjust: 10%;
  top: 30%;
  margin: auto;
  left: 10%;
  right: auto;
  bottom: auto;
  size: 10%;
  font-size: 1.5vw;
}
.right {
  text-size-adjust: 120%;
  position: absolute;
  margin: auto;
  top: 30%;
  right: 10%;

  font-size: 1.5vw;
}
.text1 {
  max-width: 20vw;
  font-size: 1vw 0.25vh;
  word-wrap: break-word;
}
.c1 {
  height: 15%;
  width: 30%;
}
.text2 {
  max-width: 20vw;
  font-size: 1vw 0.25vh;
  word-wrap: break-word;
}
.c2 {
  height: 15%;
  width: 30%;
  font-size: 1vw 0.25vh;
  word-wrap: break-word;
}
.text3 {
  max-width: 20vw;
  font-size: 1vw 0.25vh;
  word-wrap: break-word;
}
.c3 {
  height: 15%;
  width: 30%;
  font-size: 1vw 0.25vh;
  word-wrap: break-word;
}
.cert {
  height: 40%;
  width: 100%;
  margin: auto;
}
.bottom {
  background-color: #f675a8;
  color: black;
  font-size: larger;
}
a {
  color: red;
}

